.box {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.leftSide {
  margin-right: 80px;
}

.rightSide {
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.logoutLoader {
  position: absolute;
  top: 40vh;
  left: calc(50vw - 40px);
  margin: 0 auto;
}

.notifyText {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 0 25px 3px #ff0000a4;
  border-radius: 10px;
  padding: 0 5px;
  color: #ffffff;
}

.loader {
  margin: 50px auto;
  color: #ffffffb0;
}
