.item {
  display: flex;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.tel {
  margin-left: 10px;
  margin-right: auto;
}

.btn {
  margin-left: 10px;
}

.loader {
  text-align: right;
  margin-left: auto;
}
