.item {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.tel {
  margin-left: 10px;
  margin-right: auto;
}

.btnBox {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-left: 10px;
}
