.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #18171798 5%,
    #f0860ca1 70%,
    #1817178f
  );
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(to left, #f0860c 2%, #181717 92%, #f0860c);
  box-shadow: 0 0 55px 20px #181717;
}
