.App {
  padding: 15px;
}

.notifyText {
  margin: 20px 0;
  color: red;
}

.listTitle {
  margin-top: 25px;
}

.ContactsLoader {
  margin: 50px auto;
  color: #2b2626;
}

.Toaster {
  border-radius: 20px;
}

.active {
  color: red;
}
