button {
  cursor: pointer;
}

.App {
  /* padding: 20px; */
  margin: 0 auto;
  padding: 0px 20px;
  width: 922px;
}

.notFoundTitle {
  text-align: center;
  margin-top: 35px;
}

.Toaster {
  border-radius: 20px;
}

.active {
  color: #f0850c;
}
