@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap");

body {
  font-family: "Signika", sans-serif;
  color: #000000;
  margin: 0;
  background-image: linear-gradient(to top, #181717 5%, #f0850c 50%, #181717);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
